<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="custom-sidenav">
    <div class="sidenav-header">
      <span class="category-title">Category</span>
      <hr class="category-line"/>
    </div>
    <div class="category-checkboxes">
      <label class="custom-checkbox">All
        <input type="checkbox" [checked]="isChecked('All')" (change)="toggleCategory('All')">
        <span class="checkmark"></span>
      </label>
      <label class="custom-checkbox">Appetizers
        <input type="checkbox" [checked]="isChecked('Appetizers')" (change)="toggleCategory('Appetizers')">
        <span class="checkmark"></span>
      </label>
      <label class="custom-checkbox">Protein
        <input type="checkbox" [checked]="isChecked('Protein')" (change)="toggleCategory('Protein')">
        <span class="checkmark"></span>
      </label>
      <label class="custom-checkbox">Breakfast
        <input type="checkbox" [checked]="isChecked('Breakfast')" (change)="toggleCategory('Breakfast')">
        <span class="checkmark"></span>
      </label>
      <label class="custom-checkbox">Desserts
        <input type="checkbox" [checked]="isChecked('Desserts')" (change)="toggleCategory('Desserts')">
        <span class="checkmark"></span>
      </label>
      <label class="custom-checkbox">Snacks
        <input type="checkbox" [checked]="isChecked('Snacks')" (change)="toggleCategory('Snacks')">
        <span class="checkmark"></span>
      </label>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar-menu [sidenav]="sidenav"></app-toolbar-menu>

   <div class="categories-wrapper">

  <div *ngIf="selectedCategory === 'All' || selectedCategory === 'Appetizers'">
    <h2>Appetizers</h2>
    <app-cards-plaginator [allCards]="appetizers"></app-cards-plaginator>
  </div>

  <div *ngIf="selectedCategory === 'All' || selectedCategory === 'Protein'">
    <h2>Protein</h2>
    <app-cards-plaginator [allCards]="protein"></app-cards-plaginator>
  </div>

  <div *ngIf="selectedCategory === 'All' || selectedCategory === 'Breakfast'">
    <h2>Breakfast</h2>
    <app-cards-plaginator [allCards]="breakfast"></app-cards-plaginator>
  </div>

  <div *ngIf="selectedCategory === 'All' || selectedCategory === 'Desserts'">
    <h2>Desserts</h2>
    <app-cards-plaginator [allCards]="desserts"></app-cards-plaginator>
  </div>

  <div *ngIf="selectedCategory === 'All' || selectedCategory === 'Snacks'">
    <h2>Snacks</h2>
    <app-cards-plaginator [allCards]="snacks"></app-cards-plaginator>
  </div>

</div>

  </mat-sidenav-content>
</mat-sidenav-container>







