.password-container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;
}

.password-container mat-form-field {
  width: 100%;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .password-container {
    width: 80%;
    max-width: 450px;
  }
}

@media (min-width: 1024px) {
  .password-container {
    width: 100%;
    max-width: 400px;
  }
}





