.carousel {
  display: flex;
  align-items: center;
  width: 100%;
}

.cards-wrapper {
  display: flex;
  gap: 16px;
  overflow: hidden;
  flex: 1;
}

.card {
  flex: 0 0 auto;
  max-width: 250px;
  margin-top: 20px;
  cursor: pointer;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #C9B59C;
  background-color: transparent;
  flex-shrink: 0;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
}

.card img {
  object-fit: cover;
  max-height: 150px;
  border-radius: 6px;
}

.arrow {
  background: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}





























