.carousel {
  display: flex;
  align-items: center;
  width: 100%;
}

.cards-wrapper {
  display: flex;
  gap: 16px;
  overflow: hidden;
  flex: 1;
}

.card {
  flex: 0 0 auto;
  max-width: 250px;
  margin-top: 20px;
  cursor: pointer;
}

.card img {
  object-fit: cover;
  max-height: 150px;
  border-radius: 6px;
}

.arrow {
  background: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
}

























