:host {
  display: block;
  min-height: 100vh;
  width: 100vw;
  background-image: url('/assets/background_2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  overflow: hidden;
}

.center-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; /* FIXED */
}

/* Parent Div */
.parent {
  background-color: #C9B59C;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

/* Child Div */
.child {
  background-color: #F9F8F6;
  width: 80%;
  height: 80%;
  border-radius: 12px;
}

.child-title {
  text-align: center;
  font-size: 28px;
  margin: 10;           /* Remove default margin */
  margin-bottom: 20px; /* Space under the title */
  font-weight: 600;
}

.bottom-links {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.bottom-links .link {
  font-size: 14px;
  color: #1a73e8; /* Google blue-ish */
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
  padding: 6px 12px;
  border-radius: 6px;
}

.bottom-links .link:hover {
  background-color: #e8f0fe; /* subtle highlight */
  transform: translateY(-2px);
}



